/* Links */
.editorWrapper :global(.tiptap) a {
  color: darkcyan;
  text-decoration: none;
  cursor: pointer;
}

/* Table-specific styling */
.editorWrapper :global(table) {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

.editorWrapper :global(table) td,
.editorWrapper :global(table) th {
  border: 1px solid var(--sidebar-ring);
  box-sizing: border-box;
  min-width: 1em;
  padding: 6px 8px;
  position: relative;
  vertical-align: top;
}

.editorWrapper :global(table) td > *,
.editorWrapper :global(table) th > * {
  margin-bottom: 0;
}

.editorWrapper :global(table) th {
  background-color: var(--gray-1);
  font-weight: bold;
  text-align: left;
}

.editorWrapper :global(.tableWrapper) {
  margin: 1.5rem 0;
  overflow-x: auto;
}
